<ion-content>
<p>Private Room</p>
<div class="video-div">
    
    <img src="https://sociofreak.com/wp-content/uploads/2017/04/Poonam-Pandey-Wiki.jpg" alt="">
</div>
<!--Action Component Comes Here-->


</ion-content>
