<ion-app style="background:url(https://images-na.ssl-images-amazon.com/images/I/91QNifdBgVL._SY355_.png)">
    <!-- <ion-split-pane>

    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
-->
    <app-header></app-header>
    <ion-router-outlet main style="background-color: rgba(250,250,250,0.88)"></ion-router-outlet>


    <!--  </ion-split-pane>-->
    <app-footer class='pixolo-test'></app-footer>

</ion-app>
