.pixolo-test{
    color:blue;
    background: white;
    
}

/*COMMON PADDING CLASSES*/

.P-10{
    padding: 10px;
}
.P-5{
   padding: 5px; 
}
.pl-10{
    padding: 5px;
}
.pr-10{
    padding: 0px 5px;
}

